body {
    margin: 0 !important;
    box-sizing: border-box;
    font-family: 'RidleyGrotesk' !important;


    p, h1, h2, h3, h4, h5, h6 {
        margin: 0 !important;
    }
}



/* HEADER */

header {
    display: flex;
    width:  100%;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    position: relative !important;
    z-index: 10000000 !important;

    & .partner-with-us-link {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;

        & .partner-with-us{
            background-color: #0A0A0A;
            color: white;
            padding: 12px 16px;
            border: none;
            border-radius: 9px;
            font-size: 14px; 
        }

        & .partner-with-us:hover{
            background-color: #363535 !important;
        }

        & .partner-with-us:active{
            transform: scale(0.9);
        }
    }

    & .navbar{
        position: static;
    }

    & .navbar-nav{
        z-index: 99999999 !important;

        & .nav-item .active{
            color: #4443F9;
            border-bottom: 1px solid #4443F9;
            font-weight: 800;
        }

        & .nav-item:hover .nav-link{
            color: #4443F9 !important;
            border-bottom: 1px solid #4443F9 !important;
            font-weight: 800;
        }

       
        & .dropdown{
            position: static !important;

            & .dropdown-menu {
                animation: fadeIn 0.7s ease-in-out;
                

            }

              & .dropdown-menu.show{
                width: 100% !important;
                min-width: 100% !important;
                left: unset !important;
                right: 0 !important;
                top: 100% !important;
                background-color: #FFFFFF !important;               
                padding: 1% !important;
                border-radius: 0 !important;


                & .container{
                    display: flex !important;
                    gap: 20px !important;
                }

                & .vstack{
                    max-width: 414px !important;
                }

                & a{
                    text-decoration: none;
                    border-bottom: 0;
                }

                & h5{
                    font-size: 16px;
                    font-weight: 700;
                    color: #808080;
                    transition: color 0.7s ease-in-out;
                }

                & .img-container{
                    overflow: hidden;
                    border-radius: 23px;
                }

                & .dropdown-img{
                    width: 100%;
                    max-width: 414px;
                    height: auto;
                    display: block;
                    transition: transform 0.7s ease-in-out;
                }

                & p{
                    font-size: 12px;
                    font-weight: 500;
                    color: #808080;
                    transition: color 0.7s ease-in-out;
                }

                & a:hover h5{
                    color: #4443F9;
                }

                & a:hover .dropdown-img{
                    transform: scale(1.2);
                    border-radius: 12px !important;
                }

                & a:hover p{
                    color: black;
                }

            }



            & .dropdown-menu:not(.show) {
                animation: fadeOut 0.5s ease-in-out; 
            }
        }

    }  

    
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



/* MAIN */
#hero{
    background-image: url('../images/hero-bg.png');
    padding: 3% 0;
        
    & .hero-inner{
        background: linear-gradient(180deg, rgba(246, 246, 246, 0) 0%, #F6F6F6 300%), url('../images/hero-img.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 887px;
        width: 100%;
        position: relative;
        padding: 3% 0;

        & .cards-container{
            
            & .card{
                border: none;
                border-radius: 20px;
                padding: 1%;
                background: rgba(255, 255, 255, 0.7);
                backdrop-filter: blur(28.600000381469727px);
                box-shadow: 0px 56px 97.1px 0px rgba(0, 2, 34, 0.35);
                gap: 10px;

                & h2{
                    color: #0A0A0A;
                    font-weight: 700;
                    font-size: 24px;
                }

                & p{
                    color: #606060;
                    font-weight: 500;

                    & span{
                        color: #404040;
                        font-weight: 700;
                    }
                }


            }

            & .card-1{
                width: 694px;
                position: absolute;
                top: 7%;
                left: 5%;
            }

            & .card-2{
                width: 420px;
                position: absolute;
                top: 2%;
                right: 7%;
            }

            & .card-3{
                width: 536px;
                position: absolute;
                bottom: 4%;
                left: 2%;
            }

            & .card-4{
                width: 357px;
                position: absolute;
                bottom: 18%;
                right: 4%;
            }
        }
    }

   
}

#keyInitiatives{
    padding: 5% 0;

    & .left-side{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        height: 100%;

        & h1{
            font-size: 48px;
            font-weight: 700;
            color: #404040;
        }

        & p{
            color: #606060;

        }

        & .slider-buttons{
            position: relative;
            width: fit-content;
            border-radius: 20px;
            background-color: #FFFFFF;
        }

        & .slider-buttons::before{
            content: '';
            position: absolute;
            top: -1px;
            left: -1px;
            right: -1px;
            bottom: -1px;
            border-radius: 20px;
            background: linear-gradient(107.99deg, rgba(0, 0, 0, 0) 3.59%, #BBBBBB 95.81%);
            z-index: -1;
        }  

        #prevBtn, #nextBtn {
            background-color: #FFFFFF;
            padding: 16px;
            border: none;
        }

        #prevBtn:hover, #nextBtn:hover {
            transform: scale(1.1);
        }

        #prevBtn:active, #nextBtn:active {
            transform: scale(0.9);
        }
        
    
        
    }

    & .right-side{
        height: 739px;

        & .slider-container{
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;

            & .slider {
                display: flex;
                transition: transform 0.5s ease-in-out;
                height: 100%;
                width: 100%;
               
    
                & .slide {
                    flex: 0 0 33.33%;
                    box-sizing: border-box;
                    transition: flex 0.5s ease-in-out, transform 0.5s ease-in-out;
                    height: 100%;
                    padding: 3% 1%;
                    display: flex; 
                    flex-direction: column; 
                    justify-content: flex-end;
                    gap: 10px;

                    & h6{
                        font-size: 18px;
                        font-weight: 600;
                        color: #FFFFFF;
                    }

                    & p{
                        font-weight: 600;
                        color: #BFBFBF;
                        opacity: 0;
                        max-height: 0;
                        overflow: hidden;
                        transition: opacity 0.9s ease-in-out, max-height 0.9s ease-in-out;
                    }
                }

                & .slide:hover{
                    flex: 0 0 50%;
                }

                & .slide:hover p{
                    opacity: 1; 
                    max-height: 100px;
                }

                & .slide:not(:hover){
                    flex: 0 0 calc((100% - 33.33%) / 2); 
                }

                & .slide.last-visible:hover {
                    flex: 0 0 50%;
                    transform: translateX(-33.33%);
                }
                
                & .slide:not(.last-visible):hover {
                    flex: 0 0 50%;
                }
                
                & .slide:not(.last-visible):not(:hover) {
                    flex: 0 0 calc((100% - 33.33%) / 2); 
                }
                
        
                & .slide-1 {
                    background: 
                                linear-gradient(180.01deg, rgba(0, 0, 0, 0) 41.72%, rgba(0, 0, 0, 0.5) 99.99%),
                                linear-gradient(180deg, rgba(255, 255, 255, 0) 59.1%, rgba(34, 95, 110, 0.6) 90.62%),
                                url('../images/key-initiatives-img-1.webp');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;  
                }

                & .slide-2 {
                    background: 
                                linear-gradient(180.01deg, rgba(0, 0, 0, 0) 41.72%, rgba(0, 0, 0, 0.5) 99.99%),
                                linear-gradient(180deg, rgba(255, 255, 255, 0) 59.1%, rgba(34, 95, 110, 0.6) 90.62%),
                                url('../images/key-initiatives-img-2.webp');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;  
                }

                & .slide-3 {
                    background: 
                                linear-gradient(180.01deg, rgba(0, 0, 0, 0) 41.72%, rgba(0, 0, 0, 0.5) 99.99%),
                                linear-gradient(180deg, rgba(255, 255, 255, 0) 59.1%, rgba(34, 95, 110, 0.6) 90.62%),
                                url('../images/key-initiatives-img-3.webp');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;  
                }

                & .slide-4 {
                    background: 
                                linear-gradient(180.01deg, rgba(0, 0, 0, 0) 41.72%, rgba(0, 0, 0, 0.5) 99.99%),
                                linear-gradient(180deg, rgba(255, 255, 255, 0) 59.1%, rgba(34, 95, 110, 0.6) 90.62%),
                                url('../images/key-initiatives-img-4.webp');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;  
                }

                & .slide-5 {
                    background: 
                                linear-gradient(180.01deg, rgba(0, 0, 0, 0) 41.72%, rgba(0, 0, 0, 0.5) 99.99%),
                                linear-gradient(180deg, rgba(255, 255, 255, 0) 59.1%, rgba(34, 95, 110, 0.6) 90.62%),
                                url('../images/key-initiatives-img-5.webp');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;  
                }

                & .slide-6 {
                    background: 
                                linear-gradient(180.01deg, rgba(0, 0, 0, 0) 41.72%, rgba(0, 0, 0, 0.5) 99.99%),
                                linear-gradient(180deg, rgba(255, 255, 255, 0) 59.1%, rgba(34, 95, 110, 0.6) 90.62%),
                                url('../images/key-initiatives-img-6.webp');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;  
                }
            }
        }

       
    }

    & .description{
        color:#606060;
    }
}

#ourMission{

    padding: 5% 0;
    background: 
        linear-gradient(180deg, #F6F6F6 3%, rgba(246, 246, 246, 0) 300%, #F6F6F6 100%),
        url('../images/our-mission-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;


    & .left-side{
        background: 
            linear-gradient(180deg, rgba(246, 246, 246, 0) 49.61%, rgba(34, 95, 110, 0.45) 92.41%),
            url('../images/our-mission-img.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 514px;
        width: 100%;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
    }

    & .right-side{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        & .card{
            background: 
                linear-gradient(287.55deg, rgba(197, 197, 197, 0.3) -20.45%, rgba(255, 255, 255, 0.3) 97.34%),
                linear-gradient(128.12deg, rgba(255, 255, 255, 0) 29.41%, rgba(255, 255, 255, 0.5) 48.96%, rgba(255, 255, 255, 0) 72.5%);
            box-shadow: -20px 33px 65.8px 0px #2E5F6973;
            backdrop-filter: blur(14.5px);
            text-align: right;
            width: 490px;
            padding: 10% 3%;
            border: none;
            border-radius: 24px;
            margin-right: 80%;

            & h1{
                font-size: 32px;
                font-weight: 800;
                color: #404040;
            }

            & p{
                color: #606060;
                font-weight: 500;
            }
        }
    }

}

#coreGoals{
    padding: 5% 0;

    & .intro{
        & h1{
            text-align: center;
            font-size: 32px;
            font-weight: 800;
            color: #404040;
            margin-bottom: 3% !important;
        }
    }

    & .card{
        border: none;
        height: 290px;
        border-radius: 24px;
        padding: 8%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: end;
        color: #FFFFFF;

        & h4 {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 5% !important;
        }

        & p{
            font-weight: 500;
            color: #DFDFDF;

            & span{
                font-weight: 700;
                color: #FFFFFF;
            }
        }

    }

    & .card-1{
        background: linear-gradient(156.16deg, rgba(118, 162, 199, 0.6) 20.65%, rgba(34, 95, 110, 0.6) 82.87%),
                    linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 59.31%),
                    url('../images/core-goals-img-1.webp');
        backdrop-filter: blur(10px);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    & .card-2{
        background: linear-gradient(156.16deg, rgba(118, 162, 199, 0.6) 20.65%, rgba(34, 95, 110, 0.6) 82.87%),
                    linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 59.31%),
                    url('../images/core-goals-img-2.webp');
        backdrop-filter: blur(10px);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    & .card-3{
        background: linear-gradient(156.16deg, rgba(118, 162, 199, 0.6) 20.65%, rgba(34, 95, 110, 0.6) 82.87%),
                    linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 59.31%),
                    url('../images/core-goals-img-3.webp');
        backdrop-filter: blur(10px);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

#leadershipTeam{
    background: linear-gradient(92deg, #202020 24.43%, #4D4D4D 112.76%), url("../images/leadership-bg.webp");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 395px;

    & .left-side{
        padding: 5%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        & p{
            font-size: 18px;
            font-weight: 800;
            color: #BFBFBF;
        }

        & h1{
            font-size: 32px;
            font-weight: 800;
            color: #FFFFFF;
        }

        & span{
            font-weight: 500;
            color: #DFDFDF;
        }
    }

    & .right-side{
        position: relative;

        & .card{
            border: none;
            border-radius: 12px;
            background-color: transparent;
            margin-top: -50%;

            & h5 {
                font-size: 18px;
                font-weight: 800;
                color: #FFFFFF;
                text-wrap: nowrap;
            }

            & p{
                font-size: 14px;
                font-weight: 500;
                color: #9F9F9F;
            }

            & .linkedin-icon:hover{
                transform: scale(1.2);
            }
        }
    }
}

#directorMessage{

    padding: 5% 0;

    & .intro{
        & p{
           font-size: 18px;
           font-weight: 700;
           color: #808080; 
        }

        & h2{
            font-size: 32px;
            font-weight: 800;
            color: #404040;
            margin-bottom: 3% !important;
        }
    }

    & .director-message-inner{

        background: 
            linear-gradient(270deg, rgba(35, 152, 161, 0) 42.13%, #2398A1 75.67%),
            url('../images/director-message-bg.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 24px;
        padding: 3% 0 0 3%;


        & .card{
            background: 
                linear-gradient(287.55deg, rgba(197, 197, 197, 0.77) -20.45%, rgba(255, 255, 255, 0.77) 97.34%),
                linear-gradient(128.12deg, rgba(255, 255, 255, 0) 29.41%, #FFFFFF 48.96%, rgba(255, 255, 255, 0) 72.5%);
            box-shadow: -20px 33px 65.8px 0px #B9C1C333;
            backdrop-filter: blur(10px);
            border: none;
            border-radius: 24px;
            padding: 5%;
            margin-top: -40%;

            & p{
                font-weight: 500;
                color: #606060;
                font-size: 14px;

                & span{
                    font-weight: 700;
                    color: #404040;
                }
            }
        }

        & .slider-container-DM{
            position: relative;
            overflow: hidden;

            & .slider-DM{
                display: flex;

                & .slide-DM{
                    flex: 0 0 100%;
                    box-sizing: border-box;
                    transition: flex 1s ease-in-out, opacity 1s ease-in-out;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    opacity: 0.5; 


                    & .up-section{

                        margin-top: 10%;

                        & h1{
                            font-size: 48px;
                            font-weight: 700;
                            color: #FFFFFF;
                        }

                        & p{
                            font-weight: 500;
                            color: #FFFFFF;
                            margin: 3% 0 !important;
                        }
                    }

                    & .down-section{
                        & .col-lg-5{
                            padding-left: 0 !important;
                        }

                       & .card-1{
                            background: linear-gradient(270.33deg, rgba(255, 255, 255, 0) -1.3%, rgba(255, 255, 255, 0.7) 28.46%, #5DD0D9 62.07%, #2398A1 95.04%);
                            height: 270px;
                            padding: 5%;

                            & h4{
                                font-size: 24px;
                                font-weight: 700;
                                color: #FFFFFF;
                            }

                            & p{
                                font-weight: 500;
                                color: #FFFFFF;
                                font-size: 14px;
                            }
                        }

                       & .card-2{
                            background: linear-gradient(180.31deg, rgba(255, 255, 255, 0) -5.25%, rgba(255, 255, 255, 0.5) 18.19%, #5DD0D9 55.04%, #2398A1 86.51%);
                            height: 270px;
                            padding: 10% 5%;
                            border-bottom-right-radius: 24px;

                            & h4{
                                font-size: 24px;
                                font-weight: 700;
                                color: #FFFFFF;
                            }

                            & p{
                                font-weight: 500;
                                color: #FFFFFF;
                                font-size: 14px;
                            }
                        }
                    }
                }

            }

            .slide-DM.active {
                opacity: 1; 
              }

            & .slider-buttonsDM{

                position: absolute;
                bottom: 20%;
                left: 1%;
                border-radius: 20px;
                background-color: transparent;
                border: 1px solid white;
                box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
                
        
                #prevBtnDM, #nextBtnDM {
                    background-color: transparent;
                    padding: 16px;
                    border: none;
                }
        
                #prevBtnDM:hover{
                    transform: scale(1.1);
                    box-shadow: -5px 0px 15px rgba(255, 255, 255, 0.5);
                    border-radius: 20px;

                }

                #nextBtnDM:hover{
                    transform: scale(1.1);
                    box-shadow: 5px 0px 15px rgba(255, 255, 255, 0.5);
                    border-radius: 20px;
                }
        
                #prevBtnDM:active, #nextBtnDM:active {
                    transform: scale(0.9);
                }
            }
        }

    }

    & .description{
        color: #000000;
        margin-top: 2% !important;
    }
}

#joinForces{
    padding: 5% 0;
    padding-left: 9%;

    
    & .join-forces-inner{
        background-image: url('../images/join-forces-img.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 1000px;
        
        position: relative;

        & .card{
            width: 491px;
            position: absolute;
            bottom: 10%;
            right: 10%;
            border: none;

            & h2{
                font-size: 32px;
                font-weight: 800;
                color: #404040; 
                margin-bottom: 3% !important;  
            }

            & p{
                color: #606060;
                font-weight: 500;
            }

            & .partner-with-us-link{
                text-decoration: none;
            }

            & .partner-with-us{
                background-color: #4443F9;
                color: #FFFFFF;
                font-weight: 700;
                border: none;
                border-radius: 9px;
                padding: 10px 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 50px;
                margin-top: 15%;
            }

            .partner-with-us:hover{
                background-color: #0000be !important;
            }

            .partner-with-us:active{
                transform: scale(0.9);
            }
        }
    }
}

/* FOOTER */
footer{
    padding: 2% 0 0 0;
    background-color: #F6F6F6;
    
    & .upper-section{
        border-top: solid 1px #DFDFDF;
        border-bottom: solid 1px #DFDFDF;
        padding: 4% 0;

        & .left {
            & h6 {
                font-size: 14px;
                font-weight: 700;
                color: #404040;
            }
    
            & p{
                font-size: 12px;
                color: #404040;
            }
        }

        & .center{
            & a {
                text-decoration: none;
                color:#0A0A0A;
            }

            & a:hover{
                color: #4443F9;
                border-bottom: 1px solid #4443F9;
                transform: scale(1.1);
            }

            & a.active{
                color: #4443F9;
                border-bottom: 1px solid #4443F9;
                font-weight: 800;
            }

            & h6 {
                font-weight: 600;
                font-size: 12px;
            }

            & p {
               color: #848487;
               font-size: 12px; 
            }
        }

        & .right{
            & img {
                height: 32px;
                width: 32px;
            }
        }

    }

    & .bottom-section{
        background: #FFFFFF;
        text-align: center;
        padding: 1% 0;
        color: #808080;
        font-size: 14px;

        &  a:hover{
            color: #000000;
            transform: scale(1.1);
            font-weight: 700;
        }
    }
}
