@media (max-width: 435px) {
    header {
        & .navbar-nav{    
           
            & .dropdown{
    
                & .dropdown-menu.show{
    
                    & .container{
                        display: flex !important;
                        flex-direction: column !important;
                    }
    
                    & .vstack{
                        max-width: 100% !important;
                        justify-content: center !important;
                        align-items: center !important;
                    }

    
                    & h5{
                        font-size: 15px !important;
                    }

    
                    & .dropdown-img{
                        width: 100% !important;
                        max-width: 200px !important;
                    }
    
                }

            }
    
        }  
    }
    
}

@media (max-width: 768px) {
    header {
        & .navbar-nav{    
           
            & .dropdown{
    
                & .dropdown-menu.show{
    
                    & .container{
                        display: flex !important;
                        flex-direction: column !important;
                    }
    
                    & .vstack{
                        max-width: 100%!important;
                        justify-content: center !important;
                        align-items: center !important;
                    }

    
                    & h5{
                        font-size: 15px;
                    }

    
                    & .dropdown-img{
                        width: 100%;
                        max-width: 200px;
                    }
    
                }

            }
    
        }  
    } 

}
