@media (max-width:435px) {
    header{
        background-color: transparent;
        backdrop-filter: blur(30px);

        & .navbar-nav{    
           
            & .dropdown{
    
                & .dropdown-menu.show{
    
                    & .container{
                        display: flex !important;
                        flex-direction: column !important;
                    }
    
                    & .vstack{
                        max-width: 100%!important;
                        justify-content: center !important;
                        align-items: center !important;
                    }

    
                    & h5{
                        font-size: 15px;
                    }

    
                    & .dropdown-img{
                        width: 100%;
                        max-width: 200px;
                    }
    
                }

            }
    
        }  
    }

    #hero{
        background-image: none !important;
        padding: 0 0 5% 0 !important;

        & .hero-inner{
            padding: 40% 0 5% 0 !important;
            background-image: url('../images/hero-img.png') !important;
            border-radius: 0px !important;
            width: 100% !important;
            margin-top: -25% !important;
    
            & .left-side{  
                & h1{
                    font-size: 32px !important;
                    margin-bottom: 3% !important;
                }
    
                & p{
                    font-size: 12px !important;
                    margin-bottom: 3% !important; 
                }
            }
    
            & .right-side{
                gap: 10px !important;
    
                .card{
                    background: rgba(255, 255, 255, 0.5) !important;
                    backdrop-filter: blur(20px) !important;
                    border-radius: 14px !important;
    
                    & h4{
                        font-size: 16px !important;
                    }
    
                    & p{
                        font-size: 12px !important;
                    }
                }
            }
    
        }
    }

    #gdp{
        padding: 5% 0;
        background-image: url('../images/gdp-bg.webp');
    
        & h1{
            font-size: 20px;
            margin-bottom: 3% !important;
        }
    
        & .gdp-inner{
            background-image: url('../images/gdp-inner-bg-mobile.svg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 52vh;
    
    
            & .card{
                width: 100%;
    
                & p{
                    font-size: 14px;
                    font-weight: 500;
                    color: #404040;
                }
            }
        }
    
    }

    #keyIndustries{
    
        & .intro{
    
            & p{
                font-size: 16px;
            }
    
            & h1{
                font-size: 20px;
            }
        }
    
        & .card-container{
    
            margin-top: 5%;
    
            & .card{
                display: flex !important;
                flex-direction: column !important;
                justify-content: center !important;
                width: 100% !important;
                
    
                & h6 {
                    font-size: 18px;
                }
    
               
            }

    
            & .descriptions{
                color: #FFFFFF;
                padding: 0 !important;
                display: flex !important;
                flex-direction: column !important;
                justify-content: center !important;
                height: 100% !important;
    
                & h3 {
                    font-size: 20px;
                    font-weight: 800;
                    margin-bottom: 5% !important;
                }
    
                p{
                    font-size: 16px;
                }
        
            }
    
        }
    
       
    }

    #miamiIndustry{
        padding: 5% 0;
        background-image: none;
    
        & h1{
            font-size: 20px;
            margin-bottom: 5% !important;
            text-align: center;
        }


        & .card{
            border: none;
            border-radius: 24px;
            padding: 5%;
            background: linear-gradient(270deg, rgba(236, 236, 236, 0) 0%, #ECECEC 100%);
            border: 1px solid;
            border-image-source: linear-gradient(90.93deg, #FFFFFF 0.8%, #D0CBCB 95.41%);
            backdrop-filter: blur(10px);

            & h5{
                font-size: 20px;
                font-weight: 700;
                color: #404040;
            }

            & p{
                color: #606060;
            }

            & a{
                text-decoration: none;
                color: #606060;

                & span{
                    color: #606060;
                    font-weight: 400;
                    text-decoration: underline;
                }

                & span:hover{
                    color: #4443F9;
                    font-weight: 700;
                }
            }
        }

        & .slider-container-MI{
            position: relative !important;
            overflow: hidden !important;

            & .slider-MI{
                display: flex !important;
                transition: transform 0.5s ease-in-out !important;

                & .slide-MI{
                    min-width: 100% !important;
                    box-sizing: border-box !important;
                }
            }
        }
    
    }

    #successStories{
        padding: 5% 0;
        
        & .title{
            text-align: center;
            margin-bottom: 3% !important;
        }
    
        & .success-stories-inner{
            background: 
                linear-gradient(270deg, rgba(115, 176, 196, 0) 16.83%, rgba(115, 176, 196, 0) 47.81%, #73B0C4 80.83%),
                url('../images/success-stories-mobile-bg.svg') !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            background-size: cover !important;
            border-radius: 24px !important;
            padding: 3% 0 0 0 !important;
            overflow: hidden !important;

            & .upper-section{
                margin-top: 20%;
                padding: 0 5%;
    
                & h1{
                    font-size: 20px;
                    text-align: center;
                    margin-bottom: 5% !important;
                }
    
                & p{
                    font-size: 15px;
                    text-align: start;
                }
            }
    
            & .down-section{
                margin-top: 100%;

                & .card-1{
                    height: auto;
                    background: 
                    linear-gradient(270deg, rgba(108, 167, 186, 0) 34.99%, #6CA7BA 95.34%),
                    linear-gradient(179.82deg, #304D55 0.16%, #73B0C4 63.23%, #91BFD0 75.95%, #AFCFDD 97.83%);


                    & h4{
                       font-size: 16px;
                    }
    
                    & p{
                        & span{
                            font-size: 15px;
                        }
                    }
    
                }
    
                & .card-2{
                    height: auto;
                    background: 
                        linear-gradient(270.71deg, rgba(108, 167, 186, 0) 43.45%, #6CA7BA 99.89%),
                        linear-gradient(0deg, #304D55, #304D55);

                    
                    & h4{
                        font-size: 16px;
                     }
     
                     & p{
                         & span{
                             font-size: 15px;
                         }
                     }
    
                }
            }
    
        }
    }

    #startupInvestments{
        padding: 5% 0 !important;

    
        & .card{
            border: none !important;
            border-radius: 24px !important;
            padding: 5% 7% !important;
            width: 100% !important;
        }
    
        & .card-1{
            background-image:  url('../images/startup-investments-img-1.webp') !important;
            background-position: top !important;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            height: 314px !important;
        }
    
        & .card-2{
            background: url('../images/startup-investments-img-2.webp'), #D9D9D9 !important;
            background-position: center !important;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            height: fit-content !important;
            display: flex !important;
    
            & h2{
               font-size: 20px !important;
              
            }
    
            & ul>li{
                font-size: 15px !important;
    
                & span{
                    font-weight: 800 !important;
                }
    
            }
        }
    
        & .card-3{
            background-color: #ECECEC !important;
            height: fit-content !important;
            display: flex !important;
    
            & h2{
                font-size: 20px !important;
            }
    
            & div>p{
                font-size: 15px !important;
            }
        }
    
        & .card-4{
            background-image:  url('../images/startup-investments-img-3.webp') !important;
            background-position: top !important;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            height: 314px !important;
        }

        & .slider-container{
            position: relative !important;
            overflow: hidden !important;

            & .slider{
                display: flex !important;
                transition: transform 0.5s ease-in-out !important;

                & .slide{
                    min-width: 100% !important;
                    box-sizing: border-box !important;
                }
            }
        }
    }

    #highlightingImpact{
        padding: 5% 0;
    
        & .intro{
            margin-bottom: 5% !important;
    
           & p{
            font-size: 16px;
           } 
    
           & h1{
            font-size: 24px;
           }
    
           & span{
            font-size: 14px;
            
           }
        }
    
        & .highlighting-impact-inner{
    
    
            & .card-container{
                padding: 5%;

    
                & .card{
    
                    & img{
                        min-width: 200px;
                        min-height: 230px;
                        margin: 0 auto;
                        margin-bottom: 5% !important;
                    }
    
                    & p{
                        font-size: 15px;
                        margin-bottom: 5% !important;
                    }
    
                    & h4{
                        font-size: 16px;
                    }
    
                    & span{
                        color: rgba(255, 255, 255, 0.7);
                        font-size: 14px;
                        text-wrap: nowrap;
                    }
                }
    
            }
        }
    }

}

@media (max-width:768px) {
    header{
        background-color: transparent;
        backdrop-filter: blur(30px);

        & .navbar-nav{    
           
            & .dropdown{
    
                & .dropdown-menu.show{
    
                    & .container{
                        display: flex !important;
                        flex-direction: column !important;
                    }
    
                    & .vstack{
                        max-width: 100%!important;
                        justify-content: center !important;
                        align-items: center !important;
                    }

    
                    & h5{
                        font-size: 15px;
                    }

    
                    & .dropdown-img{
                        width: 100%;
                        max-width: 200px;
                    }
    
                }

            }
    
        }  
    }

    #hero{
        background-image: none;
        padding: 0 0 5% 0;

        & .hero-inner{
            padding: 40% 0 5% 0;
            background-image: url('../images/hero-img.png') !important;
            border-radius: 0px;
            width: 100%;
            margin-top: -25%;
    
            & .left-side{  
                & h1{
                    font-size: 32px;
                    margin-bottom: 3% !important;
                }
    
                & p{
                    font-size: 12px;
                    margin-bottom: 3% !important; 
                }
            }
    
            & .right-side{
                gap: 10px;
    
                .card{
                    background: rgba(255, 255, 255, 0.5);
                    backdrop-filter: blur(20px);
                    border-radius: 14px;
    
                    & h4{
                        font-size: 16px;
                    }
    
                    & p{
                        font-size: 12px;
                    }
                }
            }
    
        }
    }

    #gdp{
        padding: 5% 0;
        background-image: url('../images/gdp-bg.webp');
    
        & h1{
            font-size: 20px;
            margin-bottom: 3% !important;
        }
    
        & .gdp-inner{
            background-image: url('../images/gdp-inner-bg-mobile.svg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 97vh;
    
    
            & .card{
                width: 100%;
    
                & p{
                    font-size: 14px;
                    font-weight: 500;
                    color: #404040;
                }
            }
        }
    
    }

    #keyIndustries{
    
        & .intro{
    
            & p{
                font-size: 16px;
            }
    
            & h1{
                font-size: 20px;
            }
        }
    
        & .card-container{
    
            margin-top: 5%;
    
            & .card{
                display: flex !important;
                flex-direction: column !important;
                justify-content: center !important;
                width: 100% !important;
                
    
                & h6 {
                    font-size: 18px;
                }
    
               
            }

    
            & .descriptions{
                color: #FFFFFF;
                padding: 0 !important;
                display: flex !important;
                flex-direction: column !important;
                justify-content: center !important;
                height: 100% !important;
    
                & h3 {
                    font-size: 20px;
                    font-weight: 800;
                    margin-bottom: 5% !important;
                }
    
                p{
                    font-size: 16px;
                }
        
            }
    
        }
    
       
    }

    #miamiIndustry{    
        & .card-container{
    
            & .card-1{
                width: 100%;
            }
    
            & .card-2,
            & .card-4{
                width: 100%;
            }
    
            & .card-5{
                width: 100%;
            }
        }
    
    }

    #successStories{
        padding: 5% 0;
    
        & .title{
            text-align: center;
            margin-bottom: 3% !important;
        }
    
        & .success-stories-inner{
            background: 
                linear-gradient(270deg, rgba(115, 176, 196, 0) 16.83%, rgba(115, 176, 196, 0) 47.81%, #73B0C4 80.83%),
                url('../images/success-stories-mobile-bg.svg');
            background-repeat: no-repeat;
            background-position: top;
            background-size: cover;
            border-radius: 24px;
            padding: 3% 0 0 0;
            overflow: hidden;
    
    
            & .upper-section{
                margin-top: 20%;
                padding: 0 5%;
    
                & h1{
                    font-size: 20px;
                    text-align: center;
                    margin-bottom: 5% !important;
                }
    
                & p{
                    font-size: 15px;
                    text-align: start;
                }
            }
    
            & .down-section{
                margin-top: 60%;

                & .card-1{
                    height: auto;
                    background: 
                    linear-gradient(270deg, rgba(108, 167, 186, 0) 34.99%, #6CA7BA 95.34%),
                    linear-gradient(179.82deg, #304D55 0.16%, #73B0C4 63.23%, #91BFD0 75.95%, #AFCFDD 97.83%);


                    & h4{
                       font-size: 16px;
                    }
    
                    & p{
                        & span{
                            font-size: 15px;
                        }
                    }
    
                }
    
                & .card-2{
                    height: auto;
                    background: 
                        linear-gradient(270.71deg, rgba(108, 167, 186, 0) 43.45%, #6CA7BA 99.89%),
                        linear-gradient(0deg, #304D55, #304D55);

                    
                    & h4{
                        font-size: 16px;
                     }
     
                     & p{
                         & span{
                             font-size: 15px;
                         }
                     }
    
                }
            }
    
        }
    }

    #startupInvestments{
        padding: 5% 0 !important;

    
        & .card{
            border: none !important;
            border-radius: 24px !important;
            padding: 5% 7% !important;
            width: 100% !important;
        }
    
        & .card-1{
            background-image:  url('../images/startup-investments-img-1.webp') !important;
            background-position: top !important;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            height: 314px !important;
        }
    
        & .card-2{
            background: url('../images/startup-investments-img-2.webp'), #D9D9D9 !important;
            background-position: center !important;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            height: fit-content !important;
            display: flex !important;
    
            & h2{
               font-size: 20px !important;
              
            }
    
            & ul>li{
                font-size: 15px !important;
    
                & span{
                    font-weight: 800 !important;
                }
    
            }
        }
    
        & .card-3{
            background-color: #ECECEC !important;
            height: fit-content !important;
            display: flex !important;
    
            & h2{
                font-size: 20px !important;
            }
    
            & div>p{
                font-size: 15px !important;
            }
        }
    
        & .card-4{
            background-image:  url('../images/startup-investments-img-3.webp') !important;
            background-position: top !important;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            height: 314px !important;
        }

        & .slider-container{
            position: relative !important;
            overflow: hidden !important;

            & .slider{
                display: flex !important;
                transition: transform 0.5s ease-in-out !important;

                & .slide{
                    min-width: 100% !important;
                    box-sizing: border-box !important;
                }
            }
        }
    }

    #highlightingImpact{
        padding: 5% 0;
    
        & .intro{
            margin-bottom: 5% !important;
    
           & p{
            font-size: 16px;
           } 
    
           & h1{
            font-size: 24px;
           }
    
           & span{
            font-size: 14px;
            
           }
        }
    
        & .highlighting-impact-inner{
    
    
            & .card-container{
                padding: 5%;

    
                & .card{
    
                    & img{
                        min-width: 200px;
                        min-height: 230px;
                        margin: 0 auto;
                        margin-bottom: 5% !important;
                    }
    
                    & p{
                        font-size: 15px;
                        margin-bottom: 5% !important;
                    }
    
                    & h4{
                        font-size: 16px;
                    }
    
                    & span{
                        color: rgba(255, 255, 255, 0.7);
                        font-size: 14px;
                        text-wrap: nowrap;
                    }
                }
    
            }
        }
    }

}