@media (max-width: 435px) {
    #hero{
        padding: 5% 0;
        background-image:none;
    
        & .hero-inner{
            background-image: url('../images/hero-bg-mobile.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 52vh;
    
            & .card{
                background: linear-gradient(135deg, #FFFFFF 23.74%, rgba(255, 255, 255, 0.4) 71.71%, rgba(255, 255, 255, 0.1) 103.08%, rgba(255, 255, 255, 0.01) 114.14%);
                backdrop-filter: blur(2px);
                height: 154px;
                padding: 5%;
                width: 70%;
                border-radius: 7px;
    
                & p{
                   font-size: 14px;
                }
            }
    
            & h1{
                font-size: 32px;
                margin: auto 5% 0 0 !important;
            }
            
        }
    }

    #resourceHub{
    
        & .accordion-item{
    
            & h2>button{
                font-size: 20px !important;
            }    
        }
    
        & ul>li{
            font-size: 18px;
            padding-bottom: 5% !important;
        }

    
        & ul>li>p{
            font-size: 18px;
        }
    }

    #examples{
        padding: 5% 0;
    
        & .title{
            font-size: 20px;
            margin-bottom: 5% !important;
        }
    
        & .card{
            max-width: 100%;
            
            & h3{
                font-size: 18px;
            }
    
            & p{
               font-size: 15px;
            }
        }
    
        & .card-1{
            height: 300px;
        }
    
        & .card-2{
            height: 300px;
        }
    
        & .card-3{
            height: 300px;
        }
    
        & .card-4{
            height: 300px;
        }

        & .slider-container{
            position: relative;
            overflow: hidden;

            & .slider{
                display: flex;
                transition: transform 0.5s ease-in-out;

                & .slide{
                    min-width: 100%;
                    box-sizing: border-box;
                }
            }
        }
    }
}

@media (min-width: 2560px) {
    #hero {
        & .hero-inner {
            height: 58vh;
        }

        & h1{
            font-size: 32px;
            margin: auto 5% 0 0 !important;
        }
    }
}